.emp__main__container{
    background-color: #C6C9D6;
    border: 1px solid $tower-gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3.2rem;
    padding: 1.2rem;
}

.emp__data__container {
    background-color: $shark;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    display: flex;
    width: 90%;
    margin: 10px auto;
}

.emp__name{
    padding-left: 3.6rem;
    margin-top: 1rem;
    white-space: nowrap;
    width: 10%;
}

.emp__name__button{
    background: none;
    border: none;
}

.emp__name__button:hover {
    color: aquamarine;
}

.progress__bar {
    width: 700px;
    margin-top: 1rem;
    margin: 0 auto;
}

.progress__container {
    margin-left: 80px;
}

.emp__data__container__on {
    background-color: $shark;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    display: flex;
    width: 90%;
    margin: 10px auto;
    height: 200px;
    
}

.emp__extras__container {
    height: 130px;
    display: flex;
    justify-content: flex-start;
}

.emp__extra__box {
    width: 200px;
}
// #E3E5E

.emp__extra__header {
    color: white;
    font-size: 24px;
    margin-top: 0px;
}

.emp__extra__list {
    padding: 0;
    margin: 0;

}

//
// Search Bar
//
.form-control {
    font-size: 2rem;
    padding: 25px 15px;
  }

.admin__top {
    display: flex;
    justify-content: flex-start; 
}

.admin__title {
    color: black;
    padding-left: 20px;
}

.admin__searchbar {
    margin-top: 20px;
    padding-left: 30px; 
    width: 300px;
}