.learnmore__page {
    width: 100%;
    height: 100vh;
    
}

.learnmore__slideshow {
    height: 370px;
}




.learnmore__nextprev__button {
    height: 50px;
    width: 40px;
    margin: 0 6px;
    background: none;
    border: none;
}

.learnmore__buttons__container{
    width: 250px;

    margin: 10px auto;
    padding-left: 100px;
}