.quiz__page__container{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    min-height: 100vh;
}

.quiz__section__header {
    color: black;    
    padding-left: 1.2rem;
    padding-top: 1.2rem  ;
    width: 0%;
    text-align: left;
    margin: 5px; 
    white-space: nowrap;
}

.quiz__container {
    background-color: #E5E7E8;
    width: 80%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz {
    
    padding: 2.2rem;
    display: inline-block;
    
}

