//
// Colors
//

// Grape and jawns
$off-white: #a5afd7;
$linen: #d1d3cf;
$raisin: #757081;
$lavender: #6b82a8;
$grape: #6c4f70;
$black-cherry: #39324b;

// Color Paletete 3955
$blue1: #4a707a;
$blue2: #7697a0;
$blue3: #94b0b7;
$gray1: #c2c8c5;
$gray2: #ddddda;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Website Main Colors
$pampas: #f5f6f0;
$tower-gray: #a5b8b9;
$rock-blue: #a1c1ce;
$blue-bayoux: #536f82;
$shark: #292b33;

